cmake-build-debug/

.idea/
.vscode/
build/

CMakeLists.txt

catch.hpp

test-Template.cpp
main-Template.cpp
hackerrankTemp.cpp

*.txt
Competitive_programming
CoreSkill
ProjectEuler
myPath.h
createOutput
output.cpp