cmake-build-debug/

.idea/

CMakeLists.txt

catch.hpp

main.cpp

test-Template.cpp
main-Template.cpp
hackerrankTemp.cpp

*.txt
Competitive_programming
CoreSkill
ProjectEuler
myPath.h
createOutput
output.cpp